In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns",350)
### working with date : 
from datetime import datetime
from dateutil.relativedelta import relativedelta
import csv
from sklearn.preprocessing import LabelEncoder

In [2]:
# Import Train & Test

In [3]:
df_train = pd.read_csv('train_preprocess_v1.csv',sep=',')

In [4]:
df_train.shape

(356669, 25)

In [5]:
df_test = pd.read_csv('test_preprocess_v1.csv',sep=',')

In [6]:
df_test.shape

(79771, 24)

In [7]:
df_train.head()

,activite_nce,anciennete_client,canal_de_vente,cible,couleur_tarif_elec,duree,echeance_mois,entite_societe_contractante,libelle_naf,marche_de_la_sc,nb_dem_12,nb_dem_reco_12,nb_recla_12,nb_recla_reco_12,orientation_economique,prix_elec_m3,prix_gaz_m3,produit,profil_prm,segment_societe_contractante,type_client,type_d_offre,type_de_prix,volume_annuel,zone
0,35,13.964384,0,1.0,1,12,3,2,46,1,0,0,0,0,3,34.367000,16.415322,0,2,2,1,0,2,0.11860,0
1,35,13.964384,0,1.0,1,12,3,2,46,1,0,0,0,0,3,43.686875,27.547958,0,2,2,1,0,2,0.11860,0
2,35,13.964384,0,1.0,1,12,3,2,46,1,0,0,0,0,3,39.119300,21.192400,0,2,2,1,0,2,0.11860,0
3,35,13.964384,0,1.0,1,12,3,2,46,1,0,0,0,0,3,40.846316,22.850872,0,2,2,1,0,2,0.11860,0
4,35,14.920548,0,1.0,0,12,9,2,228,2,0,0,0,0,1,41.823333,24.530851,1,13,3,2,1,14,5.50545,2

In [8]:
df_test.head()

,activite_nce,anciennete_client,canal_de_vente,couleur_tarif_elec,duree,echeance_mois,entite_societe_contractante,libelle_naf,marche_de_la_sc,nb_dem_12,nb_dem_reco_12,nb_recla_12,nb_recla_reco_12,orientation_economique,prix_elec_m3,prix_gaz_m3,produit,profil_prm,segment_societe_contractante,type_client,type_d_offre,type_de_prix,volume_annuel,zone
0,35,13.964384,0,1,12,3,2,46,1,0,0,0,0,3,38.065238,17.313520,0,2,2,1,0,2,0.11860,0
1,3,13.509000,1,0,36,6,4,59,2,0,0,0,0,3,34.830435,16.783495,1,15,3,0,1,14,4.96180,3
2,3,13.509000,1,0,36,1,4,59,2,2,1,0,0,3,41.947143,16.615879,1,15,3,0,1,14,4.96180,3
3,3,13.509000,1,0,12,8,4,59,2,0,0,0,0,3,35.679091,16.614452,1,13,3,0,1,0,1.28400,2
4,13,13.830137,0,0,12,8,0,224,2,0,0,0,0,3,35.679091,16.614452,1,15,3,2,1,0,3.78125,1

In [9]:
##  Perform Under Sampling

In [11]:
X = df_train.loc[:, df_train.columns != 'cible']
y = df_train.loc[:, df_train.columns == 'cible']

In [12]:
# Number of data points in the minority class

number_records_churn = len(df_train[df_train.cible == 0])

churn_indices = np.array(df_train[df_train.cible == 0].index)

In [13]:
# Picking the indices of the normal classes
normal_indices = df_train[df_train.cible == 1].index

In [14]:
# Out of the indices we picked, randomly select "x" number (number_records_churn)
random_normal_indices = np.random.choice(normal_indices, number_records_churn, replace = False)
random_normal_indices = np.array(random_normal_indices)

In [15]:
# Appending the 2 indices
under_sample_indices = np.concatenate([churn_indices,random_normal_indices])

In [16]:
# Under sample dataset
under_sample_data = df_train.iloc[under_sample_indices,:]

In [17]:
X_undersample = under_sample_data.loc[:, under_sample_data.columns != 'cible']
y_undersample = under_sample_data.loc[:, under_sample_data.columns == 'cible']

In [18]:
# Showing ratio
print("Percentage of non churn: ", len(under_sample_data[under_sample_data.cible == 1])/len(under_sample_data))
print("Percentage of churn: ", len(under_sample_data[under_sample_data.cible == 0])/len(under_sample_data))
print("Total number of records in resampled data: ", len(under_sample_data))

Percentage of non churn:  0.5
Percentage of churn:  0.5
Total number of records in resampled data:  20836

In [19]:
under_sample_data.shape

(20836, 25)

In [20]:
under_sample_data.to_csv("undersample/train_undersample.csv", index = False)